/* ====================================================================================================
   BUTTON STYLES
==================================================================================================== */

.btn {
  @include button;
}

.long-btn {
	@include background-image(linear-gradient(adjust-lightness($dark-green, 10%), $dark-green));
	display: block;
	padding: .5em 1em .25em;
	color: $white;
}

input[type='submit'].small-btn, 
.small-btn {
	@include border-radius(2em);
	@include box-shadow(none);
	padding: .4em 1em .25em;
	background-color: $green;
	border-width: 1px;
	color: $white;
	font-family: $sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: none;
	text-shadow: none;
	&.order {
		width: 5em;
	}
}