/* ====================================================================================================
   VANITY STYLES
==================================================================================================== */

::selection { background: rgba(220,60,40,.75); text-shadow: none; color: #fff; }
::-moz-selection { background: #c80000; text-shadow: none; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

/* ====================================================================================================
   GLOBAL STYLES
==================================================================================================== */

a {
	@include transition;
}

body {
	background: #fffcf7 url('/assets/background/background-texture.jpg') center top repeat;
  font-size: 62.5%;
}

.inner {
	max-width: 1000px;
	margin: 0 auto;
}

.major {
  @media (min-width: 600px) {
    float: right;
    width: 75%;
  }
}

section, 
footer {
  padding: 0 5%;
}