 /* ====================================================================================================
   SLIDE SHOW STYLES
==================================================================================================== */

#slideshow {
  @include box-shadow;
  @include box-sizing(border-box);
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;
  border: 5px solid $white;
  li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  img {
    display: block;
    vertical-align: bottom;
    height: auto;
    width: 100%;
  }
  figcaption {
    padding: 1em;
    background-color: $light-gray;
    font-family: $sans-serif;
  }
}

.rslides_tabs {
	margin-top: 1em;
	li {
		float: left;
		margin-right: .5em;
		a {
			@include border-radius(50%);
			@include box-shadow;
			display: block;
			height: 12px;
			width: 12px;
			background: $light-gray;
			border: 3px solid $white;
			text-indent: -9999px;
			&:hover {
				background-color: $med-gray;
			}
		}
		&.rslides_here a {
			background-color: $dark-green;
		}
	}
}