/* ====================================================================================================
   WEB FONTS
==================================================================================================== */

@font-face {
  font-family: 'BreeSerif';
  src: url('/assets/bree-serif/BreeSerif-Regular-webfont.eot');
  src: url('/assets/bree-serif/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/bree-serif/BreeSerif-Regular-webfont.woff') format('woff'),
       url('/assets/bree-serif/BreeSerif-Regular-webfont.ttf') format('truetype'),
       url('/assets/bree-serif/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* ====================================================================================================
   FONT STACKS
==================================================================================================== */

$bree-serif: 'BreeSerif', Rockwell, Georgia, Times, "Times New Roman", serif;;
$sans-serif: Helmet, Freesans, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

/* ====================================================================================================
   GLOBAL TYPE STYLES
==================================================================================================== */

h1 {
	font-family: $bree-serif;
	font-size: 4.8em;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
  margin-bottom: .5em;
  color: $heading-color;
  font-family: $bree-serif;
  font-size: 3.6em;
  font-weight: bold;
}

h3 {
  color: $heading-color;
  font-family: $sans-serif;
  font-size: 2.4em;
  font-weight: bold;
}

h4 {
  color: $sub-heading-color;
  font-family: $sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

p {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}

small {
  color: $small-color;
  font-family: $sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.4em;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover, 
	&:focus {
  	color: $link-hover;
	}
	header & {
		color: $white;
	}
	p &, 
	small & {
  	white-space: nowrap;
	}
}