/* ====================================================================================================
   GLOBAL COLORS
==================================================================================================== */

$white: #ffffff;
$black: #1a1a1a;
$light-gray: #999;
$dark-gray: #333;

$green: #4b663d;

/* ====================================================================================================
   COLOR USES
==================================================================================================== */

$header-bg: $green;
$main-bg: adjust-lightness($green, 60%);
$content-bg: $white;

$light-border: $white;
$med-border: $green;
$dark-border: $green;

$heading-color: $green;
$link-color: $green;
$text-color: $dark-gray;
$label-color: $dark-gray;
