/* ====================================================================================================
   GLOBAL COLORS
==================================================================================================== */

/* Brand Colors */
$dark-red: #b3364a;
$green: #29cc29;

$light-green: #a3ccaa;
$dark-green: #40804a;
$dark-green-2: #5c665e;

$dark-blue: #597980;
$sky-blue: #1d7bb8;

$light-brown: #f2eeda;
$dark-brown: #66635c;

/* Other Colors */
$white: #ffffff;
$black: #1a1a1a;
$light-gray: #e6e6e6;
$light-gray-1: #e6e6e6;
$light-gray-2: #f2f2f2;
$med-gray: #666;
$dark-gray: #333;
$red: #e61739;

/* ====================================================================================================
   COLOR USES
==================================================================================================== */

$header-bg: $dark-green;
$main-bg: adjust-lightness($green, 60%);
$content-bg: $white;
$form-bg: $dark-brown;
$input-focus-bg: $light-brown;
$button-bg: $dark-green;

$light-border: $white;
$med-border: $green;
$dark-border: $dark-green;

$heading-color: $dark-green;
$sub-heading-color: $dark-gray;

$link-color: $dark-green;
$link-hover: adjust-lightness($link-color, -20%);

$text-color: $dark-gray;
$label-color: $dark-gray;
$small-color: $med-gray;