/* ====================================================================================================
   FOOTER SECTION STYLES
==================================================================================================== */

footer {
  padding: 2em 5%;
  background-color: $dark-gray;
  nav {
    li {
      display: block;
      margin-right: .5em;
      margin-bottom: .5em;
      float: left;
      font-family: $sans-serif;
      font-size: 1.2em;
      a {
        color: $white;
        &:hover, 
        &:focus {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
  small {
    display: block;
    clear: both;
  }
}