/* ====================================================================================================
   FOOTER SECTION STYLES
==================================================================================================== */

footer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}