/* ====================================================================================================
   HEADER SECTION STYLES
==================================================================================================== */

header {
  @include box-shadow;
  position: relative;
  z-index: 2;
  overflow: hidden;
	background-color: $header-bg;
	border-bottom: 1px solid adjust-lightness($header-bg, -10%);
	@media (min-width: 600px) {
  	padding: 1em 5%;
	}
	h1 {
  	text-align: center;
  	margin: .25em 5%;
  	@media (min-width: 600px) {
    	float: left;
    	width: 60%;
    	margin: 0;
    	padding: 0;
    	text-align: left;
  	}
	}
	form {
  	overflow: hidden;
  	background-color: adjust-lightness($header-bg, -20%);
  	padding: 1.5em 5%;
  	@media (min-width: 600px) {
    	@include border-radius(0);
    	float: right;
    	width: 40%;
    	padding: 0;
    	background-color: transparent;
  	}
  }
	fieldset {
    margin-bottom: .5em;
    @media (min-width: 600px) {
      float: left;
      width: 35%;
      margin-right: 5%;
      margin-bottom: 0;
    }
    label {
      float: left;
      width: 25%;
      margin-top: .25em;
      color: $white;
      text-align: right;
      @media (min-width: 600px) {
        float: none;
        width: auto;
        text-align: left;
      }
    }
    input[type="text"], 
    input[type="password"] {
      float: right;
      width: 70%;
      @media (min-width: 600px) {
        float: none;
        width: 100%;
      }
    }
  }
  input[type="submit"] {
    @include border-radius(.25em);
    float: right;
    width: 70%;
    margin-top: .5em;
    padding: .25em .5em;
    border: 1px solid adjust-lightness($green, -20%);
    font-family: $sans-serif;
    font-size: 1.2em;
    letter-spacing: 0;
    text-transform: none;
    &:hover, 
    &:focus {
      @include background-image(linear-gradient(adjust-lightness($green, 20%), adjust-lightness($green, 10%)));
    }
    @media (min-width: 600px) {
      width: 20%;
      margin-top: 1.75em;
    }
  }
  nav {
    background-color: adjust-lightness($header-bg, -20%);
    padding: 1em 5%;
    text-align: right;
    @media (min-width: 600px) {
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }
    li {
      display: inline;
      font-family: $sans-serif;
      font-size: 1.1em;
      @media (min-width: 600px) {
        display: block;
        margin-bottom: .25em;
      }
      @media (max-width: 599px) {
        &:before {
          content: '\007c';
          color: $header-bg;
          margin: 0 .5em;
        }
        &:first-child:before {
          display: none;
        }        
      }
    }
  }
}