/* ====================================================================================================
   HEADER SECTION STYLES
==================================================================================================== */

header {
	background-color: $header-bg;
	border-bottom: 5px solid $border-color;
	padding: 3em 5%;
	@media (min-width: 600px) {
  	overflow: hidden;
	}
	h1 {
  	text-align: center;
  	@media (min-width: 600px) {
    	float: left;
    	width: 60%;
    	text-align: left;
  	}
	}
	form {
  	overflow: hidden;
  	@media (min-width: 600px) {
    	width: 40%;
    	float: right;
  	}
  }
	fieldset {
    @media (min-width: 600px) {
      float: left;
      width: 35%;
      margin-right: 5%;
    }
    input {
      width: 100%;
    }
  }
  input[type="submit"] {
    float: right;
    width: 20%;
    margin-top: 1.5em;
  }
}