/* ====================================================================================================
   HOME PAGE STYLES
==================================================================================================== */

#home {
  .top {
    background-color: $sky-blue;
    .inner {
      padding-top: 3em;
    }
    h2 {
      color: $white;
      text-shadow: 0 0 3px #333;
    }
  }
  .major {
    @media (min-width: 600px) {
      float: left;
      width: 50%;
    }
    h2 {
      text-align: center;
    }
  }
  aside {
    @media (min-width: 600px) {
      float: right;
      width: 40%;
      margin-bottom: -4em;
    }
    h2 {
      margin: 0 .5em .5em;
    }
    h4 {
      padding-bottom: .5em;
      border-bottom: 1px solid $light-gray;
      margin-bottom: .75em;
      &.create-account {
        margin-top: 2.75em;
        @media (min-width: 600px) and (max-width: 799px) {
          margin-top: 0;
        }
      }
    }
    small {
      display: block;
      margin-bottom: 2em;
    }
    form {
      @include border-radius(1.5em);
      @include box-shadow;
      padding: 2em 2em 3em;
      background-color: $white;
      border: 5px solid $dark-border;
    }
    fieldset {
      margin-bottom: 1em;
      &.business-type {
        float: left;
        width: 50%;
        @media (min-width: 600px) and (max-width: 799px) {
          float: none;
          width: 100%;
        }
      }
    }
    input[type="radio"] {
      float: left;
      margin-right: 1em;
    }
  }
  .bottom {
    padding-top: 4em;
    padding-bottom: 4em;
    border-top: 5px solid $dark-green;
    h2 {
      margin-bottom: .5em;
    }
  }
}
