/* ====================================================================================================
   MAIN SECTION STYLES
==================================================================================================== */

.main {
	padding-bottom: 12em;
  @media (min-width: 600px) {
	  margin: 4em 5% 0;
  }
  #home &, 
  #sign-up & {
	  margin: 0;
  }
  h2 {
  	margin-bottom: .75em;
	  text-align: center;
	  @media (min-width: 600px) {
		  text-align: left;
	  }
  }
  .top {
    overflow: hidden;
    figure {
      float: left;
      width: 30%;
      border: 5px solid $dark-border;
      img {
        vertical-align: bottom;
      }
    }
    .info {
      margin-left: 35%;
    }
  }
  .content {
    background-color: $content-bg;
    border-top: 5px solid $dark-border;
    border-bottom: 5px solid $dark-border;
    @media (min-width: 600px) {
    	@include border-radius( 0 0 1em 1em);
    	@include box-shadow;
	    margin-top: 1em;
	    border: none;
    }
		form {
		  padding: 2em;
		  background-color: $dark-blue;
		  border-bottom: 1px solid $med-gray;
		}
  }
  .tabs {
    position: absolute;
    top: -3.25em;
    left: 0;
    overflow: hidden;
    padding: .5em;
    list-style: none;
    li {
      float: left;
    }
    a {
      @include box-shadow;
      @include border-top-left-radius(.5em);
      @include border-top-right-radius(.5em);
      display: block;
      padding: 1em;
      background-color: $light-gray;
    }
  }
}