<section class="main">
<div class="inner group">

	<div class="major">
		<h2>Editing user</h2>
		<div class="content">
			<%= render 'form' %>
			<%= link_to 'View Profile', @user %>
		</div>
	</div>

</div>
</section>