<h1>Step 3 - Get Started</h1>
<br>
Check out some of the great farms in your area.

<%= gmaps4rails(@json) %>

<br><br>

<!-- Get coords for chef (exact or approximate). application helper -->
<!-- Calculate distance -->




<br><br>
<%= userhome %>
<br><br>
