<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../stylesheets/styles/stylesheetcompany.css">
	<title>From My Farmer - helps farmers and chefs buy and sell food directly.</title> 
</head>
<body> 
	<div class="container">
      <header>
        <h1><img src="../assets/images/logo/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" />
        </h1>
      </header>
      <div class="team_page">
        <h1>Team</h1>
          <div id="dan">
            <h2>Dan Stokes</h2>
              <img class="portrait" src="../assets/images/users/blankportrait.jpg" alt="Dan Stokes Image"/>
              <p><strong>Bio:</strong> I grew up on a hog, cattle, corn, and soybean farm in Central Illinois. True to my roots, I studied agricultural economics at the University of Illinois, interned at the USDA, and then joined Hormel Foods. The more I learned about </p>
              <img class="fun_photo" src="../assets/images/users/blank.jpg" alt="Dan Stokes Image" />
              <p>Something fun: I wanted to skip college to continue farming after high school, but everyone told me there's no future in farming.</p> 
              <p>Favorite food: Homemade stew on cold winter day made w/ root vegetables from Montalbano Farms and a whole roasting chicken from Butcher and Larder.</p>
              <p>Twitter: @name</p> 
          </div>
          <div id="kenton">
          <h2>Kenton Quatman</h2>
            <img class="portrait" src="../assets/images/users/blankportrait.jpg" alt="Kenton Quatman Image" />
            <p><strong>Bio:</strong> Lorem ipsum dolor sit amet, per eros intellegam ut, ei erroribus dissentiet complectitur quo. Te cum omnium dolorem. An amet facilisis pri, ad vocent impedit has. Ne vero alterum scripserit eam, diam oratio convenire id eum, eu persecuti quaerendum mei. Velit legimus oportere te cum, has soleat albucius ei. Prima salutatus vulputate ut ius.</p>
            <img class="fun_photo" src="../assets/images/users/blank.jpg" alt="Kenton Quatman Image" />
            <p>Something fun: Et vim scripta ornatus, mel ea case omittam moderatius. Euismod pericula qui ei. Disputando mediocritatem nec te. Oratio delicatissimi eu mel, sit feugait scriptorem eloquentiam et, commodo cotidieque mea an. At mei everti legendos, possim omnesque qualisque te sed. Quod posidonium eos in.</p>
            <p>Favorite food: </p>
            <p>Twitter</p>
          </div>
          <div id="ian">
          <h2>Ian Gerstel</h2>
            <img class="portrait" src="../assets/images/users/blankportrait.jpg" alt="Ian Gerstel Image" />
            <p>Bio: Lorem ipsum dolor sit amet, per eros intellegam ut, ei erroribus dissentiet complectitur quo. Te cum omnium dolorem. An amet facilisis pri, ad vocent impedit has. Ne vero alterum scripserit eam, diam oratio convenire id eum, eu persecuti quaerendum mei. Velit legimus oportere te cum, has soleat albucius ei. Prima salutatus vulputate ut ius.</p>
            <img class="fun_photo" src="../assets/images/users/blank.jpg" alt="Ian Gerstel Image" />
            <p>Something fun: Et vim scripta ornatus, mel ea case omittam moderatius. Euismod pericula qui ei. Disputando mediocritatem nec te. Oratio delicatissimi eu mel, sit feugait scriptorem eloquentiam et, commodo cotidieque mea an. At mei everti legendos, possim omnesque qualisque te sed. Quod posidonium eos in.</p>
            <p>Favorite food: </p>
            <p>Twitter</p>
          </div>
          <div id="laura">
          <h2>Laura Osier</h2>
         		<img class="portrait" src="../assets/images/users/blankportrait.jpg" alt="Laura Osier Image" />
            <p>Bio: Lorem ipsum dolor sit amet, per eros intellegam ut, ei erroribus dissentiet complectitur quo. Te cum omnium dolorem. An amet facilisis pri, ad vocent impedit has. Ne vero alterum scripserit eam, diam oratio convenire id eum, eu persecuti quaerendum mei. Velit legimus oportere te cum, has soleat albucius ei. Prima salutatus vulputate ut ius.</p>
            <img class="fun_photo" src="../assets/images/users/blank.jpg" alt="Laura Osier Image" />
            <p>Something fun: Et vim scripta ornatus, mel ea case omittam moderatius. Euismod pericula qui ei. Dispu tando mediocritatem nec te. Oratio delicatissimi eu mel, sit feugait scriptorem eloquentiam et, commodo cotidieque mea an. At mei everti legendos, possim omnesque qualisque te sed. Quod posidonium eos in.</p>
            <p>Favorite food: </p>
            <p>Twitter</p>
            </div>
      </div> <!-- Team page -->
    <footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
	</div> <!-- container --> 
</body>
</html>