<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styles/stylesheet.css">
	<title>From My Farmer - helps farmers and chefs buy and sell food directly.</title> 
</head>
<body> 
	<div class="container">
      <header>
        <h1><img src="../Marketing/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" />
        </h1>
      </header>
    <div class="about_page">
    <h2>About</h2>
    <h3>From My Farmer simplifies the process of buying and selling local food.</h3>
    <p>Our platform promotes farmers’ excess product, gives buyers real-time information on availability in their area, and manages the sales transaction, and paperwork.</p>
    <p>It works by allowing farmers to upload a profile and interact with chefs and grocery stores.  This helps farmers to find a buyer for their excess product they haven't sold through their existing sales channels like farmers markets and CSAs.  And it makes it easier for more chefs and grocery stores to start buying from local farmers.</p>
	<p>Fostering these direct relationships helps to build community and keep more of our food dollars in the local economy.</p>
  <h3>Relationships</h3>
  <p>Local and organic are positive trends in food.  They keep more food dollars in the local economy, and improve the environment to ensure we can feed ourselves and the world long term.</p>
  <p>Food is more than that, though.  Eating food is personal -- the most basic act of trust.  Wanting a direct relationship with the people who produce our food is just as human as wanting to eat local and organic.</p> 
  <p>Knowing your farmer makes a statement about who you are. You're a person who knows the picture of a farmer and red barn on a package of bacon is pure fiction.  With fromMyFarmer, you don't need to settle for anonymous agriculture for sake of efficiency and convenience.</p>  
  <p>We make it easy to get food from folks you know, like, and trust.</p>
	</div> <!-- about-page -->
		<footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
	</div> <!-- container --> 
</body>
</html>
