!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="assets/stylesheets/styles/stylesheetcompany.css">
	<title>From My Farmer - media.</title> 
</head>
<body> 
	<div class="container">
      <header>
        <h1><img src="assets/images/logo/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" />
        </h1>
      </header>
    <div class="media_page">
    <h2>Media</h2>
    <h3>Check out the story of the local famers, chefs, and grocery stores who bring you your food.</h3>
    
<iframe src="http://player.vimeo.com/video/44992806" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/44992806">My Good Farmer</a> from <a href="http://vimeo.com/willwoolery">William Woolery</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<article>
  <p>More Articles on Local, Relationship Agriculture</p>
  <ul>
   <li>
      <a rel="nofollow" title="Small Farmers Creating a New Business Model as Agriculture Goes Local" href="http://www.nytimes.com/2012/07/02/us/small-scale-farmers-creating-a-new-profit-model.html?_r=2"> Small Farmers Creating a New Business Model as Agriculture Goes Local</a>
    </li>
    <li>
      <a rel="nofollow" title="Has 'Organic' Been Oversized?" href="http://www.nytimes.com/2012/07/08/business/organic-food-purists-worry-about-big-companies-influence.html">Has 'Organic' Been Oversized?</a>
    </li>
  </ul>
  	</div> <!-- media-page -->
		<footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
	</div> <!-- container --> 
</body>
</html>
