<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="assets/stylesheets/styles/stylesheetcompany.css">
	<title>From My Farmer - contact us.</title> 
</head>
<body> 
	<div class="container">
      <header>
        <h1><img src="assets/images/logo/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" />
        </h1>
      </header>
    <div class="contact_page">
    <h2>Contact</h2>
      <p>There are a lot of people and organizations involved in local and sustainable agriculture doing some great things.  We're excited to be a part of the community.</p>
      <p>Please drop us a line to learn more about fromMyFarmer, or to talk about the opportunities ahead -- we think they're big.</p>

      <form>
        <label for="your_name">Your name</label>
        <input type="text" name="your_name" id="your_name">
        <label for="your_email">Your Email</label>
        <input type="text" name="your_name" id="your_name" placeholder="@">
        <label for="subject">Subject</label>
        <input type="subject" name="subject" id="subject">
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
        <fieldset>
          <input type="submit" name="message_submit" id="message_submit" value="message">
          <label><input type="message" name="message" id="message"> Submit</label>
        </fieldset>
      </form>

  	</div> <!-- contact-page -->
		<footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
	</div> <!-- container --> 
</body>
</html>
