<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="assets/stylesheets/styles/stylesheetcompany.css">
	<title>From My Farmer - helps farmers and chefs buy and sell food directly.</title>
</head>
<body>
	<div class="container">
      <header>
        <h1><img src="/assets/images/logo/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" />
        </h1>
      </header>
      <div class="team_page">
        <h1>Team</h1>
        <div id="dan">
          <h2>Steve Stevens</h2>
            <%= image_tag 'blankportrait.jpg', :alt => "Steve Stevens" %>"
            <p><strong>Bio:</strong> Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et, porttitor et, varius a, leo.</p>
            <img class="fun_photo" src="/assets/images/users/blank.jpg" alt="Steve Stevens Image" />
            <p>Something fun: I love working with From My Farmer.</p>
            <p>Favorite food: Onions</p>
            <p>Twitter: @twitterguy</p>
        </div>
        <div id="dan">
          <h2>Rob Roberts</h2>
            <%= image_tag 'blankportrait.jpg', :alt => "Rob Roberts" %>"
            <p><strong>Bio:</strong> Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et, porttitor et, varius a, leo.</p>
            <img class="fun_photo" src="/assets/images/users/blank.jpg" alt="Rob Roberts Image" />
            <p>Something fun: I love good food.</p>
            <p>Favorite food: Apples</p>
            <p>Twitter: @anothertwitter</p>
        </div>
      </div> <!-- Team page -->
    <footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
	</div> <!-- container -->
</body>
</html>