<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/stylesheet.css">
    <title>From My Farmer - helps farmers and chefs buy and sell food directly.</title>    
  </head>
  <body>    
    <div class="container">
      <header>
        <h1><img src="../Marketing/Farmer_Final-Active1-White.png" alt="From My Farmer - Logo" /></h1>
        <form>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </form>
      </header>
      <div class="primary">
        <section>
          <figure>
              <img src="styles/Images/ICF-turnips650w-fr.jpg">
              <figcaption>Turnips from Iron Creek Farms</figcaption>
          </figure>
        </section>
        <section>
Local farmers and chefs who buy from them are a part of something special...they are the leaders who will change norms and make our food system better.
        </section>
      </div>      
      <aside>
          <p>Better relationships. Better food.</p>
        <form>
          <h2>Sign Up</h2>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
          <input type="submit" value="Sign Up">
        </form>
      </aside>
      <footer>
        <p class="copyright">&copy; 2012 From My Farmer</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>



