/* ====================================================================================================
   RESET and COMPASS HELPERS
==================================================================================================== */
/* 3d Transform Defaults */
/* Transition Defaults */
/* Color Contrast Defaults */
/* ====================================================================================================
   PROJECT MIXINS and GLOBAL STYLES
==================================================================================================== */
/* ====================================================================================================
   GLOBAL COLORS
==================================================================================================== */
/* Brand Colors */
/* Other Colors */
/* ====================================================================================================
   COLOR USES
==================================================================================================== */
/* ====================================================================================================
   WEB FONTS
==================================================================================================== */
@font-face {
  font-family: 'BreeSerif';
  src: url("/assets/bree-serif/BreeSerif-Regular-webfont.eot");
  src: url("/assets/bree-serif/BreeSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/bree-serif/BreeSerif-Regular-webfont.woff") format("woff"), url("/assets/bree-serif/BreeSerif-Regular-webfont.ttf") format("truetype"), url("/assets/bree-serif/BreeSerif-Regular-webfont.svg#BreeSerifRegular") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* ====================================================================================================
   FONT STACKS
==================================================================================================== */
/* ====================================================================================================
   GLOBAL TYPE STYLES
==================================================================================================== */
/* line 28, project/_type.scss */
h1 {
  font-family: "BreeSerif", Rockwell, Georgia, Times, "Times New Roman", serif;
  font-size: 4.8em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 35, project/_type.scss */
h2 {
  margin-bottom: .5em;
  color: #40804a;
  font-family: "BreeSerif", Rockwell, Georgia, Times, "Times New Roman", serif;
  font-size: 3.6em;
  font-weight: bold;
}

/* line 43, project/_type.scss */
h3 {
  color: #40804a;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 2.4em;
  font-weight: bold;
}

/* line 50, project/_type.scss */
h4 {
  color: #333333;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

/* line 57, project/_type.scss */
p {
  color: #333333;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}

/* line 65, project/_type.scss */
small {
  color: #999999;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.4em;
}

/* line 73, project/_type.scss */
a {
  color: #40804a;
  text-decoration: none;
}
/* line 77, project/_type.scss */
a:hover, a:focus {
  color: #1e3c23;
}
/* line 80, project/_type.scss */
header a {
  color: white;
}
/* line 84, project/_type.scss */
p a, small a {
  white-space: nowrap;
}

/* ====================================================================================================
   VANITY STYLES
==================================================================================================== */
/* line 5, project/_general.scss */
::selection {
  background: rgba(220, 60, 40, 0.75);
  text-shadow: none;
  color: #fff;
}

/* line 6, project/_general.scss */
::-moz-selection {
  background: #c80000;
  text-shadow: none;
}

/* line 7, project/_general.scss */
img::selection {
  background: transparent;
}

/* line 8, project/_general.scss */
img::-moz-selection {
  background: transparent;
}

/* ====================================================================================================
   GLOBAL STYLES
==================================================================================================== */
/* line 14, project/_general.scss */
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 18, project/_general.scss */
body {
  background: #fffcf7 url("/assets/background/background-texture.jpg") center top repeat;
  font-size: 62.5%;
}

/* line 23, project/_general.scss */
.inner {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 29, project/_general.scss */
.main,
footer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}

/* ====================================================================================================
   BUTTON STYLES
==================================================================================================== */
/* line 5, project/_buttons.scss */
.btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ddb4d), color-stop(100%, #29cc29));
  background-image: -webkit-linear-gradient(#4ddb4d, #29cc29);
  background-image: -moz-linear-gradient(#4ddb4d, #29cc29);
  background-image: -o-linear-gradient(#4ddb4d, #29cc29);
  background-image: linear-gradient(#4ddb4d, #29cc29);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 3px #333333;
  -moz-box-shadow: 0 0 3px #333333;
  box-shadow: 0 0 3px #333333;
  display: block;
  padding: .5em;
  border: 5px solid #20a220;
  color: white;
  font-family: "BreeSerif", Rockwell, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px #333;
}
/* line 16, project/_mixins.scss */
.btn:hover, .btn:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77e477), color-stop(100%, #4ddb4d));
  background-image: -webkit-linear-gradient(#77e477, #4ddb4d);
  background-image: -moz-linear-gradient(#77e477, #4ddb4d);
  background-image: -o-linear-gradient(#77e477, #4ddb4d);
  background-image: linear-gradient(#77e477, #4ddb4d);
}

 /* ====================================================================================================
   FORM STYLES
==================================================================================================== */
/* line 5, project/_forms.scss */
label {
  display: block;
  margin-bottom: .5em;
  color: #333333;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* line 17, project/_forms.scss */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 0 3px #999999;
  -moz-box-shadow: inset 0 0 3px #999999;
  box-shadow: inset 0 0 3px #999999;
  display: block;
  background: white;
  border: none;
  outline: none;
}

/* line 28, project/_forms.scss */
input[type="text"],
input[type="password"],
input[type="number"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 .5em;
}

/* line 34, project/_forms.scss */
select {
  width: 100%;
}

/* line 38, project/_forms.scss */
textarea {
  padding: .5em;
  height: 8em;
}

/* line 43, project/_forms.scss */
input[type="submit"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ddb4d), color-stop(100%, #29cc29));
  background-image: -webkit-linear-gradient(#4ddb4d, #29cc29);
  background-image: -moz-linear-gradient(#4ddb4d, #29cc29);
  background-image: -o-linear-gradient(#4ddb4d, #29cc29);
  background-image: linear-gradient(#4ddb4d, #29cc29);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 3px #333333;
  -moz-box-shadow: 0 0 3px #333333;
  box-shadow: 0 0 3px #333333;
  display: block;
  width: 100%;
  padding: .25em .5em;
  border: 2px solid #20a220;
  color: white;
  font-family: "BreeSerif", Rockwell, Georgia, Times, "Times New Roman", serif;
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 3px #333;
  text-transform: uppercase;
}
/* line 61, project/_forms.scss */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77e477), color-stop(100%, #4ddb4d));
  background-image: -webkit-linear-gradient(#77e477, #4ddb4d);
  background-image: -moz-linear-gradient(#77e477, #4ddb4d);
  background-image: -o-linear-gradient(#77e477, #4ddb4d);
  background-image: linear-gradient(#77e477, #4ddb4d);
}

/* ====================================================================================================
   TABLE STYLES
==================================================================================================== */
/* line 5, project/_tables.scss */
table {
  -webkit-box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  box-shadow: 0px 0px 3px #333333;
  width: 100%;
  line-height: 1.4;
  border: 5px solid white;
}

/* line 12, project/_tables.scss */
thead th {
  background-color: #29cc29;
  border-left: 1px solid white;
  padding: .5em;
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
/* line 22, project/_tables.scss */
thead th:first-child {
  border-left: none;
}

/* line 28, project/_tables.scss */
tbody tr {
  background-color: #eee;
  border-bottom: 1px solid #fff;
}
/* line 31, project/_tables.scss */
tbody tr:nth-child(even) {
  background-color: #ccc;
}
/* line 35, project/_tables.scss */
tbody td {
  color: #333333;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}
@media (min-width: 600px) {
  /* line 35, project/_tables.scss */
  tbody td {
    padding: .75em .5em;
    border-left: 1px solid white;
  }
}
/* line 44, project/_tables.scss */
tbody td:first-child {
  border-left: none;
}

@media (max-width: 599px) {
  /* line 50, project/_tables.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* line 53, project/_tables.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 58, project/_tables.scss */
  tr {
    padding: .75em 0;
  }

  /* line 61, project/_tables.scss */
  td {
    border: none;
    position: relative;
    margin-bottom: .5em;
    padding: 0 5% 0 10.5em;
  }
  /* line 66, project/_tables.scss */
  td:before {
    content: attr(data-heading) "\00a0\003a";
    position: absolute;
    left: 0;
    width: 10em;
    white-space: nowrap;
    color: #666;
    text-align: right;
  }
}
/* ====================================================================================================
   PROGRESS BAR STYLES
==================================================================================================== */
/* line 5, project/_progress-bars.scss */
.progress {
  -webkit-box-shadow: inset #e6e6e6 0 0 3px;
  -moz-box-shadow: inset #e6e6e6 0 0 3px;
  box-shadow: inset #e6e6e6 0 0 3px;
  background-color: white;
  border: 1px solid #cccccc;
  height: 1.5em;
  padding: .4em .5em;
  position: relative;
  margin: 1em 5% 6em;
}
/* line 35, project/_mixins.scss */
.progress .bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62df62), color-stop(100%, #29cc29));
  background-image: -webkit-linear-gradient(#62df62, #29cc29);
  background-image: -moz-linear-gradient(#62df62, #29cc29);
  background-image: -o-linear-gradient(#62df62, #29cc29);
  background-image: linear-gradient(#62df62, #29cc29);
  border: 1px solid #29cc29;
  height: 100%;
}
/* line 9, project/_progress-bars.scss */
.progress.completed {
  -webkit-box-shadow: inset #e6e6e6 0 0 3px;
  -moz-box-shadow: inset #e6e6e6 0 0 3px;
  box-shadow: inset #e6e6e6 0 0 3px;
  background-color: white;
  border: 1px solid #cccccc;
  height: 1.5em;
  padding: .4em .5em;
}
/* line 35, project/_mixins.scss */
.progress.completed .bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbfbf), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(#bfbfbf, #999999);
  background-image: -moz-linear-gradient(#bfbfbf, #999999);
  background-image: -o-linear-gradient(#bfbfbf, #999999);
  background-image: linear-gradient(#bfbfbf, #999999);
  border: 1px solid #999999;
  height: 100%;
}
/* line 12, project/_progress-bars.scss */
.progress .progress-marker {
  position: absolute;
  top: -0.5em;
  width: 60px;
  text-align: center;
}
/* line 17, project/_progress-bars.scss */
.progress .progress-marker.one {
  left: -30px;
}
/* line 20, project/_progress-bars.scss */
.progress .progress-marker.two {
  left: 50%;
  margin-left: -25px;
}
/* line 24, project/_progress-bars.scss */
.progress .progress-marker.three {
  right: -30px;
}
/* line 28, project/_progress-bars.scss */
.progress .marker {
  -webkit-box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  box-shadow: 0px 0px 3px #333333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #999999;
  display: inline-block;
  margin-bottom: .5em;
  padding: 0;
  border: 4px solid white;
  height: 2.5em;
  width: 2.5em;
}
/* line 38, project/_progress-bars.scss */
.progress .marker.current {
  background: #333333;
}
/* line 41, project/_progress-bars.scss */
.progress .marker.completed {
  background: #29cc29;
}
/* line 45, project/_progress-bars.scss */
.progress h4 {
  color: #999999;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 51, project/_progress-bars.scss */
.progress small {
  text-align: right;
}

/* ====================================================================================================
   PAGE STYLES
==================================================================================================== */
/* ====================================================================================================
   HEADER SECTION STYLES
==================================================================================================== */
/* line 5, project/header.scss */
header {
  overflow: hidden;
  background-color: #40804a;
  padding: 1em 5%;
}
/* line 9, project/header.scss */
header h1 {
  text-align: center;
  margin-bottom: .25em;
}
@media (min-width: 600px) {
  /* line 9, project/header.scss */
  header h1 {
    float: left;
    width: 60%;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }
}
/* line 20, project/header.scss */
header form {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  overflow: hidden;
  background-color: #1e3c23;
  padding: 1.5em 5%;
}
@media (min-width: 600px) {
  /* line 20, project/header.scss */
  header form {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    float: right;
    width: 40%;
    padding: 0;
    background-color: transparent;
  }
}
/* line 33, project/header.scss */
header fieldset {
  margin-bottom: .5em;
}
@media (min-width: 600px) {
  /* line 33, project/header.scss */
  header fieldset {
    float: left;
    width: 35%;
    margin-right: 5%;
    margin-bottom: 0;
  }
}
/* line 41, project/header.scss */
header fieldset label {
  float: left;
  width: 25%;
  margin-top: .25em;
  color: white;
  text-align: right;
}
@media (min-width: 600px) {
  /* line 41, project/header.scss */
  header fieldset label {
    float: none;
    width: auto;
    text-align: left;
  }
}
/* line 54, project/header.scss */
header fieldset input[type="text"],
header fieldset input[type="password"] {
  float: right;
  width: 70%;
}
@media (min-width: 600px) {
  /* line 54, project/header.scss */
  header fieldset input[type="text"],
  header fieldset input[type="password"] {
    float: none;
    width: 100%;
  }
}
/* line 63, project/header.scss */
header input[type="submit"] {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  float: right;
  width: 70%;
  margin-top: .5em;
  padding: .25em .5em;
  border: 1px solid #187718;
  font-family: Helmet, Freesans, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0;
  text-transform: none;
}
/* line 75, project/header.scss */
header input[type="submit"]:hover, header input[type="submit"]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77e477), color-stop(100%, #4ddb4d));
  background-image: -webkit-linear-gradient(#77e477, #4ddb4d);
  background-image: -moz-linear-gradient(#77e477, #4ddb4d);
  background-image: -o-linear-gradient(#77e477, #4ddb4d);
  background-image: linear-gradient(#77e477, #4ddb4d);
}
@media (min-width: 600px) {
  /* line 63, project/header.scss */
  header input[type="submit"] {
    width: 20%;
    margin-top: 1.75em;
  }
}

/* ====================================================================================================
   NAVIGATION STYLES
==================================================================================================== */
/* ====================================================================================================
   MAIN SECTION STYLES
==================================================================================================== */
/* line 5, project/main.scss */
.main {
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 4em;
}
/* line 10, project/main.scss */
.main .full-col,
.main .major {
  padding: 2em;
}
@media (min-width: 600px) {
  /* line 13, project/main.scss */
  .main .minor {
    float: right;
    width: 25%;
  }
}
/* line 19, project/main.scss */
.main .top {
  overflow: hidden;
}
/* line 21, project/main.scss */
.main .top figure {
  float: left;
  width: 30%;
  border: 5px solid #40804a;
}
/* line 25, project/main.scss */
.main .top figure img {
  vertical-align: bottom;
}
/* line 29, project/main.scss */
.main .top .info {
  margin-left: 35%;
}
/* line 33, project/main.scss */
.main .content {
  position: relative;
  clear: left;
  margin-top: 4em;
  padding: 1em;
  background-color: white;
}
/* line 40, project/main.scss */
.main .tabs {
  position: absolute;
  top: -3.25em;
  left: 0;
  overflow: hidden;
  padding: .5em;
  list-style: none;
}
/* line 47, project/main.scss */
.main .tabs li {
  float: left;
}
/* line 50, project/main.scss */
.main .tabs a {
  -webkit-box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  box-shadow: 0px 0px 3px #333333;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  display: block;
  padding: 1em;
  background-color: #cccccc;
}

/* ====================================================================================================
   HOME PAGE STYLES
==================================================================================================== */
@media (min-width: 600px) {
  /* line 6, project/home.scss */
  #home .minor {
    float: right;
    width: 40%;
  }
}
/* line 11, project/home.scss */
#home .minor h2 {
  margin: 0 .5em .5em;
}
/* line 14, project/home.scss */
#home .minor h4 {
  padding-bottom: .5em;
  border-bottom: 1px solid #cccccc;
  margin-bottom: .75em;
}
/* line 18, project/home.scss */
#home .minor h4.create-account {
  margin-top: 2.75em;
}
@media (min-width: 600px) and (max-width: 799px) {
  /* line 18, project/home.scss */
  #home .minor h4.create-account {
    margin-top: 0;
  }
}
/* line 25, project/home.scss */
#home .minor small {
  display: block;
  margin-bottom: 2em;
}
/* line 29, project/home.scss */
#home .minor form {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  box-shadow: 0px 0px 3px #333333;
  padding: 2em 2em 3em;
  background-color: white;
  border: 5px solid #40804a;
}
/* line 36, project/home.scss */
#home .minor fieldset {
  margin-bottom: 1em;
}
/* line 38, project/home.scss */
#home .minor fieldset.business-type {
  float: left;
  width: 50%;
}
@media (min-width: 600px) and (max-width: 799px) {
  /* line 38, project/home.scss */
  #home .minor fieldset.business-type {
    float: none;
    width: 100%;
  }
}
/* line 47, project/home.scss */
#home .minor input[type="radio"] {
  float: left;
  margin-right: 1em;
}

/* ====================================================================================================
   SIGN UP PAGE STYLES
==================================================================================================== */
/* line 6, project/sign-up.scss */
#sign-up .container {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  box-shadow: 0px 0px 3px #333333;
  padding: 2em 5% 3em;
  background: white;
  border: 5px solid #40804a;
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;
}
/* line 11, project/sign-up.scss */
#sign-up .container h2 {
  text-align: center;
  margin-bottom: 1em;
}
/* line 15, project/sign-up.scss */
#sign-up .container h4 {
  font-size: 1.8em;
  margin-bottom: 1em;
}
/* line 18, project/sign-up.scss */
#sign-up .container h4 span {
  color: #40804a;
}
/* line 22, project/sign-up.scss */
#sign-up .container form {
  margin-bottom: 2em;
}
/* line 25, project/sign-up.scss */
#sign-up .container fieldset {
  margin-bottom: 1.25em;
  clear: left;
}
@media (min-width: 600px) {
  /* line 28, project/sign-up.scss */
  #sign-up .container fieldset.half {
    float: left;
    clear: none;
    width: 48%;
    margin-right: 4%;
  }
}
/* line 36, project/sign-up.scss */
#sign-up .container fieldset.quarter {
  float: left;
  clear: none;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 3em;
}
@media (min-width: 600px) {
  /* line 36, project/sign-up.scss */
  #sign-up .container fieldset.quarter {
    width: 22%;
  }
}
/* line 46, project/sign-up.scss */
#sign-up .container fieldset.right {
  margin-right: 0;
}
/* line 50, project/sign-up.scss */
#sign-up .container input[type="submit"] {
  clear: left;
}
/* line 53, project/sign-up.scss */
#sign-up .container table {
  margin-bottom: 2em;
}

/* ====================================================================================================
   FOOTER SECTION STYLES
==================================================================================================== */
/* line 5, project/footer.scss */
footer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}

/* ====================================================================================================
   MEDIA QUERIES
==================================================================================================== */
